#{extends 'main.html' /}
#{set title:'Home' /}
<script type="text/javascript">
jQuery(document).ready(function($) {
  var interaction;
var lat=48.856930;
var lng=2.341200;
  var latlng=new L.LatLng(lat,lng);

// var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
//   var osmAttrib='Map data © OpenStreetMap contributors';
//   var osm = new L.TileLayer(osmUrl);
//   osm.basemap=true;
//   //, {minZoom: 5, maxZoom: 12, attribution: osmAttrib}
  
map = new L.Map('map')
map.addLayer(new L.Marker(latlng)); 
 url='http://api.tiles.mapbox.com/v2/worldbank-climate.change-in-ag-yields,worldbank-climate.percent-gdp-added-by-agriculture,worldbank-climate.wbc-borders.jsonp';
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © OpenStreetMap contributors';
  var osm = new L.TileLayer(osmUrl);
map.addLayer(osm)
 map.setView(latlng, 5);

                          // map.addLayer(osm)
  // Stuff to do as soon as the DOM is ready. Use $() w/o colliding with other libs;
  console.warn('${dataPublisher.id}');
  
   
      $('.btn-small').click(function(event)
      {
      if ($(event.target).is('.map_polygon'))
      {
      alert('map')
      }

    
//        $('#map_polygon').click(function()
//    {
     
//       $.each(map._layers, function(index, value) { 
//                   {
//                   //if (!value.basemap){
//                   map.removeLayer(value)
//                   //}
          
//                   }
//                   })


//  $('#map').animate({'height':'700px'})
//  //   interaction.remove();
   
// url='http://lully.snv.jussieu.fr/gbif/mapping/mbtiles/france3_new_spn_mnhn/metadata.jsonp';
//                            wax.tilejson(url, function(tilejson) {
//                                france3_2_spn_mnhn = new wax.leaf.connector(tilejson);
                             
//                              map.addLayer(france3_2_spn_mnhn);
//                              interaction = wax.leaf.interaction(map, tilejson)
                          
                                
                     
//                               });

//         url='http://api.tiles.mapbox.com/v2/worldbank-climate.change-in-ag-yields,worldbank-climate.percent-gdp-added-by-agriculture,worldbank-climate.wbc-borders.jsonp';

//      wax.tilejson(url, function(tilejson) {
//           basemap = new wax.leaf.connector(tilejson);
//          map.addLayer(basemap);

//         });        

 map.setView(latlng, 5);

 // map.setView(latlng, 6);

                                 });

 

});

</script>
<div class="container">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header well alert-info">
      <h1>${dataPublisher.name}</h1>
    </div>
    <div id="map" style='width:100%;height:300px;position:relative'></div>
   <!-- <iframe width="900" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Mus%C3%A9um+national+d'Histoire+naturelle+61+rue+Buffon&amp;aq=&amp;sll=46.75984,1.738281&amp;sspn=9.967265,23.269043&amp;ie=UTF8&amp;hq=Mus%C3%A9um+national+d'Histoire+naturelle+61+rue+Buffon&amp;hnear=&amp;ll=48.841808,2.357741&amp;spn=0.074784,0.181789&amp;t=m&amp;z=10&amp;iwloc=${dataPublisher.name}&amp;cid=2299256314626690090&amp;output=embed"></iframe><br /></small>-->
   <div class="btn btn-small map_polygon">Check biodiversity map by polygon</div>
    <div class="btn btn-small map_occ">Check biodiversity map by occurrences</div>
 
    <div class="page-header well alert-error">
      <h3>Datasets</h3>
      <div class="btn-group">
      #{list items:datasets, as:'dataset'}
        <div class="btn btn-large"><a href="@{Datasets.show(dataset.id)}">${dataset.name}</a></div>
      #{/list}
      </div>
    </div>
    <table class="table table-condensed table-striped">
      <tbody>
        <tr>
          <th>Description</th>
          <td>${dataPublisher.description}</td>
        </tr>
        <tr>  
          <th>Adresse</th>
          <td>${dataPublisher.address}</td>
        </tr>  
      </tbody>
    </table>
  </div>
  </div>
</div>