th {
  width: 200px;
}

#search-navbar {
  margin-top: 20px;	
}

#search-form
{
  margin: 0;
}

#search-main-box
{
  height: 50px;	
}

#search-filters {
  float:right;  
}
#search-inputs {
  width: 550px;
  display: block;
  float: left;
}

#search-filter {
  display:inline"
}

 
 