.navbar .brand
{
	font-size: 30px;
}

.navbar a
{
  
	font-size: 16px;
}

.navbar-search form
{
	margin: 0;
}

.navbar .nav
{
	margin-top : 10px;
}
#sub-menu .menu-item a
{
	padding: 0 0 0 20px;
	margin-bottom: 20px;
	font-style: italic;
	font-size: 14px;
}

#sub-menu ul
{
	margin:0;
}


div.content
{
	margin-top: 40px;
}

hr {
  margin: 5px 0;
}

label {
  width:50px;
}

th {
  width:200px;
}

/*** Feedback button ***/

#feedback-button
{
  background:transparent url('../images/feedback-button.gif') no-repeat scroll 0px 0px;
  height:170px;
  left:0;
  position:fixed;
  top:150px;
  width:40px;
}
#feedback-button a
{
  display:block;
  height:170px;
  width:40px;
}



/*** Header ***/

#header {
  margin-bottom: 10px;	
}

/*** Search ***/

#sidebar
{
  float:right;
}


#search-navbar {
  margin-top: 20px;	
}

#search-form
{
  margin: 0;
}

#search-main-box
{
  //height: 100px;	
  width: 100%;
  overflow: hidden;
}

#search-filters {
  float: left;
}

.search-input {
  margin: 5px;
}

.input-large
{
  width: 300px;
}

.search-query {
 margin-left: 5px;
}

#search-inputs {
  margin-top: 5px;
  //float: right;
  
}

.search-filter {
  margin-bottom: 10px;
}


.navbar-search form
{
	margin: 0;
}





/*autocomplete jquery*/
.ui-menu {
  background-color: #eeeeee;
  width: 400px;
  text-decoration: none;
  
}

.ui-menu li{
  list-style: none;  
}


/*** Taxa ***/
#taxa-header
{
  overflow: hidden;
}

/*** Dataset ***/

#dataset-basic-info
{
  margin-bottom: 20px;
}

/*** Footer ***/
.footer {
//padding: 70px 0;
position:absolute;
margin-top: 50px;
width: 100%;
border-top: 1px solid #E5E5E5;
background-color: whiteSmoke;
}

.hero-unit
{
	padding: 20px;
}



 
 