th {
  width: 200px;
}

hr {
  margin: 5px 0;
}

/*** Search ***/

#search-navbar {
  margin-top: 20px;	
}

#search-form
{
  margin: 0;
}

#search-main-box
{
  height: 100px;	
  width: 920px;
}

#search-filters {
  float:right;  
}
#search-inputs {
  margin-top: 20px;
  display: block;
  float: left;
}

.search-filter {
  margin-bottom: 10px;
}

/*** Dataset ***/

#dataset-basic-info
{
  height: 200px;
}

#dataset-basic-info-description
{
  background: white;
  float: left;
  color: black;
  width: 500px;
  height: 200px;   
}

#dataset-basic-info-others, #dataset-external-links
{
  float: right; 
  width: 300px;
  margin-bottom: 50px;   
}

#dataset-geographic-info, #dataset-taxonomic-info, 
#dataset-temporal-info, #dataset-sampling-info 
{
  float: left;
  margin-right: 30px;
  width: 300px;
}

#dataset-contact-info
{
  clear: both;
}


 
 