#{extends 'main.html' /}
<script src="@{'/public/javascripts/search/search.js'}"></script>
<script type="text/javascript">
$(document).ready(function() {
  
  /*** Dataset Auto-completion ***/	
  $("#input-search-dataset").autocomplete().each(function() {
    var $input = $(this);
    // Set-up the autocomplete widget.
    $(this).autocomplete({
      minLength: 3,
      source : function(req, resp) {
        $.getJSON("datasets/autocomplete?search=" + req.term, function(data) {
          var suggestions = [];
          $.each(data, function(i, val) {
            var obj = {};
            obj.label = val.title;
            obj.id = val.id;
            suggestions.push(obj);
          })
          resp(suggestions);
        })
      }  
    })
  });
  
  /*** Taxa Auto-completion ***/ 
  $("#input-search-taxa").autocomplete().each(function() {
    var $input = $(this);
    // Set-up the autocomplete widget.
    $(this).autocomplete({
      minLength: 4,
      source : function(req, resp) {
        $.getJSON("taxas/autocomplete?search=" + req.term, function(data) {
          var suggestions = [];
          $.each(data, function(i, val) {
            var obj = {};
            obj.label = val.canonicalName;
            obj.id = val.id;
            suggestions.push(obj);
          })
          resp(suggestions);
        })
      }  
    })
  })
});
</script>
<div class="container">
  <div class="form-search">
    #{form @Application.search(), id:'searchForm', class:'form-search alert alert-info'}
      <h2>Découvrir l'information sur la biodiversité française</h2><br/>
      <div id="search-main-box">
        <div id="search-inputs">
          <div id="search-taxa" class="search-input btn btn-info"><label><h5>Taxa: </h5></label><input class="input-large search-query" type="text" id="input-search-taxa" name="searchTaxa" value=#{if search && search.taxaText}"${search.taxaText}"#{/if}#{else}""#{/else}/></div>
          <div id="search-place" class="search-input btn btn-warning"><label><h5>Place: </h5></label><input class="input-large search-query" type="text" id="input-search-place" name="searchPlace" value=#{if search && search.placeText}"${search.placeText}"#{/if}#{else}""#{/else}/></div>
          <div id="search-dataset" class="search-input btn"><label><h5>Dataset: </h5></label><input class="input-large search-query" type="text" id="input-search-dataset" name="searchDataset" value=#{if search && search.dataset}"${search.dataset}"#{/if}#{else}""#{/else}/></div>       
          <div id="search-coordinates" class="search-input btn btn-success input-small"><h4>Only with coordinates</h4><input class="input-small search-query" type="hidden" id="input-search-coordinates" name="searchCoordinates" value=#{if search && search.onlyWithCoordinates}"${search.onlyWithCoordinates}"#{/if}#{else}"false"#{/else}/></div>
          <input class="btn btn-large" id="search-submit" type="submit" value="Rechercher"/>
        </div>
        <div id="search-filters">          
          <div class="btn btn-info btn-tiny search-filter" id="search-filter-taxa">Taxa</div>
          <div class="btn btn-warning btn-tiny search-filter" id="search-filter-place">Place</div>
          <div class="btn btn-tiny search-filter" id="search-filter-dataset">Dataset</div>
          <br/>
          <div class="btn btn-success btn-tiny search-filter" id="search-filter-coordinates">Only with coordinates</div>
          
        </div>
      </div>
    #{/form}
  </div>
</div>  