#{extends 'main.html' /}
 <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/charts.css'}"/>
<script src="@{'/public/javascripts/search/search.js'}"></script>
<script src="@{'/public/javascripts/d3.v2.min.js'}"></script>
<script src="@{'/public/javascripts/nv.d3.js'}"></script>
<script src="@{'/public/javascripts/pieChart.js'}"></script>

<script src="@{'/public/javascripts/discreteBar.js'}"></script>

<script src="@{'/public/javascripts/tooltip.js'}"></script>
<style type="text/css">
.red
{
  color:#db0979;
}
</style>

<script type="text/javascript">
$(document).ready(function() {

  $('.span6').live('click',function (event)
{
if ($(event.target).hasClass('pager_class'))
{
$("#ajax_image").show()
$('#occurrences_table,.span3,#sidebar').fadeOut(1000)
$('.red, .span6 ').removeClass('red')
$(event.target).addClass('red')

}
})
//THIS HTML IS LOADED AT EVERY USER REQUEST. IT SHOULD BE IMPROVED USING AJAX 
  if ($('#occurrences div').length==0)
    {
   //spinner will disappear after occurrences.html is loaded on page
      $("#ajax_image").show();
   }
  /*** Dataset Auto-completion ***/ 
  $("#input-search-dataset").autocomplete().each(function() {
    var $input = $(this);
    // Set-up the autocomplete widget.
    $(this).autocomplete({
      minLength: 3,
      source : function(req, resp) {
        $.getJSON("datasets/autocomplete?search=" + req.term, function(data) {
          var suggestions = [];
          $.each(data, function(i, val) {
            var obj = {};
            obj.label = val.title;
            obj.id = val.id;
            suggestions.push(obj);
          })
          resp(suggestions);
        })
      }  
    })
  });
  
  /*** Taxa Auto-completion ***/ 
  $("#input-search-taxa").autocomplete().each(function() {
    var $input = $(this);

    // Set-up the autocomplete widget.
    $(this).autocomplete({
      minLength: 4,
      source : function(req, resp) {


        $.getJSON("taxas/autocomplete?search=" + req.term, function(data) {
          var suggestions = [];
          $.each(data, function(i, val) {
            var obj = {};
            obj.label = val.canonicalName;
            obj.id = val.id;
            suggestions.push(obj);
          })
          resp(suggestions);
        })
      }  
    })
  })
  
});
</script>
<div class="container">
  <div class="form-search">
    #{form @Application.search(), id:'searchForm', class:'form-search alert alert-info'}
      <span>&{'info_bar'}<br/></span>      
      <div class="btn-group" id="search-filters">   
          <div class="btn btn-info btn-tiny search-filter" id="search-filter-taxa">&{'taxa'}</div>
          <div class="btn btn-warning btn-tiny search-filter" id="search-filter-place">&{'place'}</div>
          <div class="btn btn-primary btn-tiny search-filter" id="search-filter-date">&{'date'}</div>
          <div class="btn btn-danger search-filter" id="search-filter-dataset">&{'dataset'}</div>
          <div class="btn btn-success btn-tiny search-filter" id="search-filter-coordinates">&{'onlyWithCoordinates'}</div>
          
          <!-- <div class="btn btn-success btn-tiny search-filter" id="search-filter-area">Draw and search by area</div> -->          
      </div> 
      <div id="search-main-box">
        <div id="search-inputs">
          <div id="search-taxa" class="search-input btn btn-large btn-info">
            <label><h5>&{'taxa'}</h5></label>
            <input class="input-large search-query" type="text" id="input-search-taxa" name="searchTaxa" value=#{if search && search.taxaText}"${search.taxaText}"#{/if}#{else}""#{/else}/>
          </div>
          <div id="search-place" class="search-input btn btn-large btn-warning">
            <label><h5>&{'place'}</h5></label>
            <input class="input search-query" type="text" id="input-search-place" name="searchPlace" value=#{if search && search.placeText}"${search.placeText}"#{/if}#{else}""#{/else}/>
          </div>
          <div id="search-dataset" class="search-input btn btn-large btn-danger">
            <label><h5>&{'dataset'}</h5></label>
            <input class="input search-query" type="text" id="input-search-dataset" name="searchDataset" value=#{if search && search.dataset}"${search.dataset}"#{/if}#{else}""#{/else}/>
          </div>
          <div id="search-date" class="search-input btn btn-large btn-primary">
            <label><h5>&{'date'}</h5></label>
            <input id="input-search-date" class="input-small search-query" name="searchDate" value=#{if search && search.dateText}"${search.dateText}"#{/if}#{else}""#{/else}/>            
          </div>
          <div id="search-coordinates" class="search-input btn btn-large btn-success">
            <h4>&{'onlyWithCoordinates'}</h4>
            <input class="input search-query" type="hidden" id="input-search-coordinates" name="searchCoordinates" value=#{if search && search.onlyWithCoordinates}"${search.onlyWithCoordinates}"#{/if}
                                                                                                                               #{elseif search && search.placeText && search.placeText.substring(0,1).equals('[')}"true"#{/elseif}
                                                                                                                               #{else}"false"#{/else}/>
          </div>       
          <input class="btn btn-large" style="float:right;"id="search-submit" type="submit" value="&{'search'}"/>
        </div>       
      </div>

    #{/form}
  </div>
   <img id='ajax_image' src="@{'/public/images/spinner3-greenie.gif'}" style='height:50px;width:50px;display:none;position:relative;'/>
