
<script type="text/javascript">
//QUICK AND DIRTY CODE
function show_hide (elem,graph_name,list_name)
{


  $this=$(elem);

  if ($this.hasClass('graphic'))
  {    
    $('#'+graph_name).hide()
    $('#'+list_name).show()    
    $this.html('Show as graphic')
  }
  else
  {
    $('#'+list_name).hide()
    $('#'+graph_name).show() 
    $this.html('Show as list')
  }
  $this.toggleClass('graphic')
    return false;

}
</script>
  #{if nbHits}
    <div class="span6">
    <h6><ul class="breadcrumb"> Your search:<br/>
      #{if search.taxaText}<li>Taxa: ${search.taxaText}</li><br/>#{/if}
      #{if search.placeText}<li>Place: ${search.placeText}<br/></li>#{/if}
      #{if search.dataset}<li>Dataset: ${search.dataset}<br/></li>#{/if}
      #{if search.dateText}<li>Date: ${search.dateText}<br/></li>#{/if}
      #{if search.onlyWithCoordinates}<li>Only with coordinates</li>#{/if}
    </ul></h6>
    <h3>Occurrences</h3>
    <!-- Pagination -->
    #{if occurrencesTotalPages == 100}<i>${pagesize*occurrencesTotalPages} first results for a total of ${nbHits} occurrences</i>#{/if}
    #{else}Page ${current} for ${nbHits} results#{/else}
    #{if nbHits <= 5000}<a target="_blank" href="@{Occurrences.download(search.taxaText,search.placeText,search.dataset,search.dateText,search.onlyWithCoordinates, 'DIRECT')}">Download it!</a>#{/if}
    #{elseif nbHits <= 300000}<a target="_blank" href="@{Occurrences.download(search.taxaText,search.placeText,search.dataset,search.dateText,search.onlyWithCoordinates)}">Download it!</a>#{/elseif}
    <br/>
    #{if occurrencesTotalPages > 10}
      #{if current >= 10 && current+10 < occurrencesTotalPages}        
        <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','0');">1 </a>
        ...
        #{list items:current-5..current+5, as:'i'}
          <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${(i-1)*pagesize}');">${i} </a>
        #{/list}
        ...
        <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${occurrencesTotalPages*pagesize - pagesize}');">${occurrencesTotalPages} </a>
      #{/if} 
      #{elseif current >= 10 && current+10 >= occurrencesTotalPages}        
        <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${1*pagesize}');">1 </a>
        ...
        #{list items:current-10..occurrencesTotalPages, as:'i'}
          <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${(i-1)*pagesize}');">${i} </a>
        #{/list}
      #{/elseif}
      #{elseif current == occurrencesTotalPages}
        <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','0');">${1} </a>
        ...
        #{list items:current-10..current, as:'i'}
          <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${(i-1)*pagesize}');">${i} </a>
        #{/list}
      #{/elseif}  
      #{elseif current == 0 || current < 10}
        #{list items:1..10, as:'i'}
          <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${(i-1)*pagesize}');">${i} </a>
        #{/list}
        ...
        <a class='pager_class' onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${occurrencesTotalPages*pagesize - pagesize}');">${occurrencesTotalPages} </a>
      #{/elseif}  
      #{if current < occurrencesTotalPages}    
        <a class='pager_class' style="float:right;" onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${current*pagesize}');">Next >></a>
      #{/if}
    #{/if}
    #{else}  
        #{list items:1..occurrencesTotalPages, as:'i'}
          <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','${(i-1)*pagesize}');">${i} </a>
        #{/list}
    #{/else}
    
    <table id="occurrences_table" class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>Scientific Name</th>
          <!-- <th>Dataset</th>
          <th>Data Publisher</th>-->
        </tr>
      </thead>
      %{i = 0}%
      #{list items:occurrences, as:'occurrence'}  
      %{i = i + 1}%
      <tr>
        <td class="hoverable">
          <div style="float:left;">
          <a target="_blank" href ="@{Occurrences.show(occurrence.id)}">
            <i>
              #{if occurrence.scientificName && occurrence.scientificName.size() < 70}
                ${occurrence.scientificName}
              #{/if}
              #{elseif occurrence.scientificName}
                ${occurrence.scientificName[0..69]}[...]
              #{/elseif}
              #{else}
                N/A
              #{/else}
            </i>
          </a>
          <br/>
          #{if occurrence.specificEpithet_interpreted} 
            (as : <i>${occurrence.specificEpithet_interpreted}</i>)
          #{/if}
          </div> 
          <div style="float:right;">  
          <h6>#{if occurrence.decimalLatitude && occurrence.decimalLongitude}<img width="15" height="15" src="@{'/public/images/gps_icon.png'}"/>#{/if}
              #{if occurrence.catalogNumber && occurrence.catalogNumber.size() < 20}${occurrence.catalogNumber}#{/if}
              #{elseif occurrence.catalogNumber}${occurrence.catalogNumber[0..18]}[...]#{/elseif}
          </h6>
          </div>  
          <div style="clear:both;" class="well occurrence_info">
            <a target="_blank" href ="@{Datasets.show(occurrence.dataset.id)}">Dataset: ${occurrence.dataset.title}</a><br/>
            <a target="_blank" href ="@{DataPublishers.show(occurrence.dataset.dataPublisher.id)}">Datapublisher: ${occurrence.dataset.dataPublisher.name}</a>
          </div>       
        </td>    
        <!-- <td>${occurrence.score}</td> -->  
      </tr>
      #{/list}
      </table>
    </div>

    <div class="span3">
      #{if frequentTaxas}
      <h4>Taxons les plus fréquents</h4>

      <a href='#' class='graphic' onClick='show_hide(this,"graph_freq_taxa","freq_taxa")'>Show as list</a>
      <svg style='width:300px;height:300px' id='graph_freq_taxa'></svg>
      <table id='freq_taxa' style='display:none' class="table table-condensed">
        #{list items:frequentTaxas, as:'frequentTaxa'}

          <tr>
            <td><a target="_blank" href ="@{Taxas.show(frequentTaxa.get('taxonId'))}"><i>${frequentTaxa.get('scientificName')}</i></a></td>
            <!-- Result filter based on ecat -->
            <td><a target="_blank" onClick="searchOccurrences('${frequentTaxa.get('canonicalName')}', '${search.placeText}', '${search.dataset}', '${search.dateText}', '${search.onlyWithCoordinates}','0');">${frequentTaxa.get('count')}</a></td>        
          </tr>
       #{/list}
      </table>
      #{/if}
      #{if frequentDatasets}
      <h4>Datasets les plus fréquents</h4>
      <a href='#' class='graphic' onClick='show_hide(this,"graph_freq_dataset","freq_dataset")'>Show as list</a>
      <svg style='width:300px;height:300px' id='graph_freq_dataset'></svg>
      <table id="freq_dataset" style='display:none' class="table table-condensed">
        #{list items:frequentDatasets, as:'frequentDataset'}
          <tr>
            <td><a target="_blank" href ="@{Datasets.show(frequentDataset.get('id'))}"><i>${frequentDataset.get('title')}</i></a></td>
            <!-- Result filter based on dataset -->
            <td><a target="_blank" onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${frequentDataset.get('name')}', '${search.dateText}', '${search.onlyWithCoordinates}','0');">${frequentDataset.get('count')}</a></td>       
          </tr>
       #{/list}
      </table>
      #{/if}
       #{if frequentYears}
      <h4>Dates les plus fréquentes</h4>
         <a href='#' class='graphic' onClick='show_hide(this,"graph_freq_dates","freq_dates")'>Show as list</a>
      <svg style='width:230px;height:300px' id='graph_freq_dates'></svg>
      <table id="freq_dates" style='display:none' class="table table-condensed">
        #{list items:frequentYears, as:'frequentYear'}
          <tr>
            <td><i>${frequentYear.get('year')}</i></td>
            <!-- Result filter based on dataset -->
            <td><a target="_blank" onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${frequentYear.get('year')}', '${search.onlyWithCoordinates}','0');">${frequentYear.get('count')}</a></td>       
          </tr>
       #{/list}
      </table>
      #{/if}      
    </div>
  #{/if}
  #{else}
  <div class="span8">
    <h3>Occurrences</h3>    
    <h6>Pas de résultats</h6>
  </div>    
  
  #{/else}
  
  <script type="text/javascript">
 
$(document).ready(function() {

$('.span6').click(function (event)
{
if ($(event.target).hasClass('pager_class'))
{
$("#ajax_image").show()
$('#occurrences_table,.span3,#sidebar').fadeOut(1000)
}
})


  $("#occurrences_table .hoverable").hover( function () {
	    $(this).find('.occurrence_info').show();
	  }, 
	  function () {
	        $(this).find('.occurrence_info').hide();
	  });

var taxes=[];
var datasets=[];
var dates=[];

taxes.push({keys: "taxes",values:[]})  
datasets.push({keys: "taxes",values:[]})
dates.push({keys: "taxes",values:[]})

//$('#freq_taxa tr').size()>5 ? labels=false : labels=true;
$('#freq_taxa tr').each(function(i,_this)
{
if (i<10)
{
 taxes[0]['values'].push(
{ 'name' :  $(_this).find('td').eq(0).text(),
  'count' : $(_this).find('td').eq(1).text()}
) 
}
})

$('#freq_dates tr').each(function(i,_this)
{

if (i<5)
{
   dates[0]['values'].push(
{ 'year' :  $(_this).find('td').eq(0).text(),
  'count' : $(_this).find('td').eq(1).text()}
) 
 }
})


$('#freq_dataset tr').each(function(i,_this)
{
if (i<10)
{
 datasets[0]['values'].push(
{ 'name' :  $(_this).find('td').eq(0).text(),
  'count' : $(_this).find('td').eq(1).text()}
) 
}
})

//Piecharts 
function render_chart (data,container)
{
console.warn('rendering chart')
  nv.addGraph(function() {
        var width = 230,
        height = 230;      
        var chart = nv.models.pieChart()        
        .x(function(d) { return d.name })
        .y(function(d) { return d.count })        
        .color(d3.scale.category10().range())
        .width(width)
        .height(height)
        .donut(false)
        .showLabels(false);
          
        d3.select("#"+container)
          .datum([data[0]])
          .transition().duration(2800)
          .attr('width', width)
          .attr('height', height)
          .call(chart);

    return chart;
})
}
render_chart(datasets,"graph_freq_dataset");
render_chart(taxes,"graph_freq_taxa");

//DATES histogram
nv.addGraph(function() {  
  var chart = nv.models.discreteBarChart()
      .x(function(d) { return d.year })
      .y(function(d) { return d.count })
      .staggerLabels(false)      
      .tooltips(true)
      .showValues(false)

  d3.select('#graph_freq_dates')

      .datum(dates)
      .transition().duration(1500)
      .attr('width',200)
      .attr('height',200)
      .call(chart);
  return chart;
});
$("#ajax_image").hide()
$('#occurrences_table,.span3,#sidebar').fadeIn(500)
});
  </script>

