  #{if nbHits}
    <div class="span6">
    <h3>Occurrences</h3>    
    <!-- Pagination -->
    #{if occurrencesTotalPages == 100}<i>5000 first results for a total of ${nbHits} occurrences</i><br/>#{/if}
    #{else}Page ${current} for ${nbHits} results<br/>#{/else}
    #{if occurrencesTotalPages > 1}
      #{if current >= 10 && current+10 < occurrencesTotalPages}        
        <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${1*pagesize}');">1 </a>
        ...
        #{list items:current-5..current+5, as:'i'}
          <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${i*pagesize}');">${i} </a>
        #{/list}
        ...
        <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${occurrencesTotalPages*pagesize}');">${occurrencesTotalPages} </a>
      #{/if} 
      #{elseif current >= 10 && current+10 >= occurrencesTotalPages}        
        <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${1*pagesize}');">1 </a>
        ...
        #{list items:current-10..occurrencesTotalPages, as:'i'}
          <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${i*pagesize}');">${i} </a>
        #{/list}
      #{/elseif}
      #{elseif current == occurrencesTotalPages}
        <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','0');">${1} </a>
        ...
        #{list items:current-10..current, as:'i'}
          <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${i*pagesize}');">${i} </a>
        #{/list}
      #{/elseif}  
      #{elseif current == 0 || current < 10}
        #{list items:1..10, as:'i'}
          <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${i*pagesize}');">${i} </a>
        #{/list}
        ...
        <a onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${occurrencesTotalPages*pagesize}');">${occurrencesTotalPages} </a>
      #{/elseif}  
      #{if current < occurrencesTotalPages}    
        <a style="float:right;" onClick="searchOccurrences('${search.taxaText}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','${current*pagesize}');">Next >></a>
      #{/if}
    #{/if}
    
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>Scientific Name</th>
          <th>Dataset</th>
          <th>Data Publisher</th>
        </tr>
      </thead>
      #{list items:occurrences, as:'occurrence'}  
      <tr>
        <td>
          <a href="@{Occurrences.show(occurrence.id)}"><i>${occurrence.scientificName}</i></a><br/>
          <h6>#{if occurrence.decimalLatitude && occurrence.decimalLongitude}<img width="15" height="15" src="@{'/public/images/gps_icon.png'}"/>#{/if}${occurrence.catalogNumber}</h6>         
        </td>    
        <td><a href="@{Datasets.show(occurrence.dataset.id)}">${occurrence.dataset.title}</a></td>
        <td><a href="@{DataPublishers.show(occurrence.dataset.dataPublisher.id)}">${occurrence.dataset.dataPublisher.name}</a></td>
        <!-- <td>${occurrence.score}</td> -->  
      </tr>
      #{/list}
      </table>
    </div>
    <div class="span3">
      <h4>Taxons les plus fréquents</h4>
      <table class="table table-condensed">
        #{list items:taxas, as:'taxa'}
          <tr>
            <td><a href="@{Taxas.show(taxa.taxonId)}"><i>${taxa.scientificName}</i></a></td>
            <!-- Result filter based on ecat -->
            <td><a onClick="searchOccurrences('${taxa.taxonId}', '${search.placeText}', '${search.dataset}', '${search.onlyWithCoordinates}','0');">${taxa.occurrencesCount} occurrences</a></td>        
          </tr>
       #{/list}
      </table>
    </div>
  #{/if}
  #{else}
  <div class="span8">
    <h3>Occurrences</h3>    
    <h6>Pas de résultats</h6>
  </div>    
  #{/else}
  
