
  <h3>Places</h3>
  #{if results}
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>        
          <th>Nom</th>
          <th>Type</th>
          <th>Pays</th>
        </tr>
      </thead>        
      #{list items:places, as:'place'}
      <tr>
        <td><a href="">${place.nameFr}</a></td>
        <td>${place.placeTypeNameFr}</td>
        <td>${place.country}</td>
        <!-- <td>${place.centroidLatitude},${place.centroidLongitude}</td> -->
      </tr>  
      #{/list}
    </table>
  #{/if} 
  #{else}
    <h6>Pas de résultats</h6>
  #{/else}
