#{if search}  
  <div class="alert alert-warn">
  <h3>Places</h3>

  #{if results}
    #{if boundingBox}
     <!-- <a target='blank' href="http://lully.snv.jussieu.fr/gbif/mapping/test_maps/gbif_france_test.html?
      bboxSWLongitude=${boundingBox[1]}&bboxSWLatitude=${boundingBox[0]}&bboxNELongitude=${boundingBox[3]}&bboxNELatitude=${boundingBox[2]}">See all occurrences in this bounding box</a> -->
    #{/if}

    #{if places}

    <table style="max-width:270px;">
      <thead>
        <tr>        
          <th></th>
          <th></th>
          <th>Nom</th>
          <th>Type</th>
          <th>Pays</th>
          <th style='display:none'>Bbox</th>

        </tr>
      </thead>    
      <tbody>
      #{list items:places, as:'place'}
      <tr>
        <td><i class="icon-trash" style="color:#9C0890;margin-right: 10px;float:left;"></i></td>
        <td><i class="icon-eye-open" style="color:#9C0890;margin-right: 10px;float:left;"></i></td>
        <td>${place.nameFr}</td>
        <td>${place.placeTypeNameFr}</td>
        <td>${place.country}</td>
        <td style='display:none' class='bbox_handler'>${place.boundingBoxSWLatitude},${place.boundingBoxSWLongitude},${place.boundingBoxNELatitude},${place.boundingBoxNELongitude}</td>
        <td style='display:none'>${place.centroidLatitude},${place.centroidLongitude}</td> 
      </tr>  

      #{/list}
    </tbody>    
    </table>
    #{/if}
  #{/if} 
  #{else}
    <h6>Pas de résultats</h6>
  #{/else}
  </div>
#{/if}