#{extends 'main.html' /}
#{set title:'Home' /}
<script type="text/javascript" >
  
  var placeFilter = "[place:]";
  var taxaFilter = "[taxa:]";
  var coordinatesFilter = "[onlyWithCoordinates]";
  
  function addFilter(type)
  { 
    if (type == "place")
    {
      $(".search-query").val('${search.text}' + placeFilter);
       
    }
    else if (type == "taxa")
    {
      $(".search-query").val('${search.text}' + taxaFilter);  
    }  
    else if (type == "coordinates")
    {
      $(".search-query").val('${search.text}' + coordinatesFilter);  
    }
    $(".search-query").focus();  
  }
 
  var taxas = #{jsAction @Taxas.search(':search', ':page') /}  
  var occurrences = #{jsAction @Occurrences.search(':search', ':from') /}  
  var places = #{jsAction @Places.search(':search') /}
  var datasets = #{jsAction @Datasets.search(':search') /}
 
  function searchTaxas(search, page)
  {  
	// temporary solution
	search = search.replace(/ /g,"%20");
    $('#taxas').load(taxas({search: search, page: page}));
    $('#taxas').show()
  }
  
  function searchOccurrences(search, from)
  {
    // temporary solution
	search = search.replace(/ /g,"%20");
    $('#occurrences').load(occurrences({search: search, from: from}));
     //NE MARCHE PAS
   // alert('${nbHits}')
    $('#occurrences').show() 
//alert('${occurrence}')
    return false;
  }
  
  function searchPlaces(search)
  {
	search = search.replace(/ /g,"%20");  
    $('#places').load(places({search: search}));
    $('#places').show() 
  }
  
  function searchDatasets(search)
  {
    search = search.replace(/ /g,"%20");  
    $('#datasets').load(datasets({search: search}));
    $('#datasets').show() 
  }
    
  $(document).ready(function() {
	searchOccurrences('${textSearch}', 0)
    searchTaxas('${search.taxa}','1');
    searchPlaces('${search.textPlace}', 0);
    $("#search-filter-place").click(function() {addFilter('place')})
    $("#search-filter-taxa").click(function() {addFilter('taxa')})
    $("#search-filter-coordinates").click(function() {addFilter('coordinates')})
    $(".search-query").focus();
    
    //searchDatasets('${search}');
  });
</script>

<div class="container">
  <div class="form-search well alert alert-info">
    #{form @Application.search(), id:'searchForm', class:'form-search well alert alert-info'}
      <h2>Découvrir l'information sur la biodiversité française</h2><br/>
      <div>
        <input class="input-large search-query" type="text" id="search-box" name="textSearch" value="${search.text}"/>
        <input class="btn btn-large" id="test" type="submit" value="Rechercher"/>
        <div id="search-filters">
          <div class="btn btn-warning btn-large search-filter" id="search-filter-place">Place</div>
          <div class="btn btn-info btn-large search-filter" id="search-filter-taxa">Taxa</div>
          <div class="btn btn-success btn-large search-filter" id="search-filter-coordinates">Only with coordinates</div>
        </div>
      </div>
    #{/form}
  </div>
  #{if textSearch}
    <h1>Recherche: <span id="taxonName" >${textSearch}</span></h1>
  #{/if}
  <div id="datasets"></div>
  <div id="places"></div>
  <div id="taxas"></div>
  #{if dataPublishers}
  <div style="margin-top:20px;">
    <h3>Institutions</h3>
    <table class="table table-condensed table-striped">
    #{list items:dataPublishers, as:'dataPublisher'}
      <td><a href="@{DataPublishers.show(dataPublisher.id)}">${dataPublisher.name}</a></td>
    #{/list}
    </table>
  </div>
  #{/if}
  
  <div id="occurrences"></div>
  
</div>