#{if search}
<div class="alert alert-info"> 
  <h3>Taxons</h3>
  #{if count > 0}
    <h6>${count} taxons</h6>
    #{if taxasTotalPages > 10 }
      #{if current >= 10 && current+10 < taxasTotalPages}        
        <a onClick="searchTaxas('${search}','1');">1 </a>
        ...
        #{list items:current-5..current+5, as:'i'}
          <a onClick="searchTaxas('${search}','${i}');">${i} </a>
        #{/list}
        ...
        <a onClick="searchTaxas('${search}','${taxasTotalPages}');">${taxasTotalPages} </a>
      #{/if} 
      #{elseif current >= 10 && current+10 >= taxasTotalPages}        
        <a onClick="searchTaxas('${search}','${1}');">1 </a>
        ...
        #{list items:current-10..taxasTotalPages, as:'i'}
          <a onClick="searchTaxas('${search}','${i}');">${i} </a>
        #{/list}
      #{/elseif}
      #{elseif current == taxasTotalPages}
        <a onClick="searchTaxas('${search}','0');">${1} </a>
        ...
        #{list items:current-10..current, as:'i'}
          <a onClick="searchTaxas('${search}','${i}');">${i} </a>
        #{/list}
      #{/elseif}  
      #{elseif current == 0 || current < 10}
        #{list items:1..10, as:'i'}
          <a onClick="searchTaxas('${search}','${i}');">${i} </a>
        #{/list}
        ...
        <a onClick="searchTaxas('${search}','${taxasTotalPages}');">${taxasTotalPages} </a>
      #{/elseif}
    #{/if}
      
    #{elseif taxasTotalPages > 1}
      #{list items:1..taxasTotalPages, as:'i'}
          <a onClick="searchTaxas('${search}','${i}');">${i} </a>
        #{/list}
    #{/elseif}
    <table class="table table-condensed table-striped">
      <thead>
        <tr>        
          <th>Taxon</th>
          <th>Rang</th>     
        </tr>
      </thead>
      #{list items:taxas, as:'taxa'}
      <tr>
        <td><a href="@{Taxas.show(taxa.taxonId)}"><i>${taxa.scientificName}</a></i></td><td>${taxa.rank}</td>
      </tr>  
      #{/list}
    </table>
  #{/if} 
  #{else}
    <h6>Pas de résultats</h6>
  #{/else}
</div>
#{/if}




    