#{include 'Application/Search/bar.html' /}
#{set title:'Home' /}

<script src="@{'/public/json/france_institutions.json'}"></script>

      <script src="@{'/public/javascripts/d3.v2.min.js'}"></script>
      <script src="@{'/public/javascripts/nv.d3.min.js'}"></script>
      <script src="@{'/public/javascripts/pieChart.js'}"></script>
      
      
<script src="@{'/public/javascripts/jquery.tipsy.js'}"></script>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/tipsy.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/pack.css'}">

<script type="text/javascript">
$(document).ready(function() {
var rectangle;
url='http://a.tiles.mapbox.com/v1/perikut.map-ua7dmxeg.jsonp';

wax.tilejson(url, function(tilejson) {
          basemap = new wax.leaf.connector(tilejson);
         

            map.addLayer(basemap)
              })



map = new L.Map('map',{ 'crs': L.CRS.EPSG900913,
 center: new L.LatLng( 47.0176,2.3427,2), 
    zoom: 5
  });

var drawControl = new L.Control.Draw({
      position: 'topright',
      polygon: {
        allowIntersection: false,
        drawError: {
          color: '#b00b00',
          timeout: 1000
        },
        shapeOptions: {
          color: '#bada55'
        }
      },
      circle: {
        shapeOptions: {
          color: '#662d91'
        }
      }
    });
    map.addControl(drawControl);
    
    var drawnItems = new L.LayerGroup();
    map.on('draw:poly-created', function (e) {
      drawnItems.addLayer(e.poly);
    });
    map.on('draw:rectangle-created', function (e) {
      drawnItems.addLayer(e.rect);
      e.rect.type='rect';
      window.rect_bbox={};
      var bbox = '[' + e.rect._latlngs[0].lat + ',' + e.rect._latlngs[0].lng + ',' + e.rect._latlngs[2].lat + ',' + e.rect._latlngs[2].lng + ']';
      $('#input-search-place').val(bbox);
      
    

    });
    map.on('draw:circle-created', function (e) {
      drawnItems.addLayer(e.circ);
    });
    map.on('draw:marker-created', function (e) {
      drawnItems.addLayer(e.marker);
    });
    map.addLayer(drawnItems);

map.setView(new L.LatLng(47.0701,2.6147),5);

$('.leaflet-control-draw').hide();
$('#search-filter-place').click(function()
{
  if ($(this).hasClass('selected'))
  {
  $(this).removeClass('selected')
  $('.leaflet-control-draw').hide();  
  }
  else
  {
$(this).addClass('selected')
  $('.leaflet-control-draw').show();  

  }
  
})

//for the moment we hide it!!
//map._initPathRoot() 
 fill = d3.scale.category10();  //10 random colors by category

 var total_datasets=json.total_datasets; 
 // all g radius scaled depending on number datasets containing
  var gScale = d3.scale.linear()
                     .domain([1, json.total_occurrences])
                     .range([70, 450]);
  // all text scaled depending on number datasets containing                  
   var  textScale = d3.scale.linear()
                     .domain([1, total_datasets])
                     .range([10, 20]);
  //for each city group
  json.children.forEach(function(d,i) {

  var svg = d3.select("#map").select("svg")//.attr('pack_svg')
  var width=gScale(d.city_occurrences);
  var height=gScale(d.city_occurrences);
  //console.log(width)
  //one pack for each json children
  pack = d3.layout.pack()
   .size([width - 4, height - 4])    
  
  
  g = svg.append("g");
  g.attr('class',d.city+' datasets') 

  d.LatLng = new L.LatLng(d.geometry[1],d.geometry[0])
  //a lat/lng for each institution to be georeferenced
  latlng=new L.LatLng(d.geometry[1],d.geometry[0])

  g.attr("transform", function ()
    {
    return "translate(" + ((map.latLngToLayerPoint(latlng).x)-width/2) + "," + ((map.latLngToLayerPoint(latlng).y)-height/2) + ")";
    });

    var this_node=json.children[i]    
    //for each institution, create a node and apply its pack (children bubbles)
    pack.value(function(d2) {   
    var count_datasets=this_node.num_datasets

     var gScale = d3.scale.linear()
                     .domain([0, this_node.city_occurrences])
                     .range([4, 350]);
      //console.info('scaled value'+gScale(d2.count))
      return gScale(d2.count); 
    });

    var node = g.data([json]).selectAll("g")
    .data(pack.nodes(json.children[i]))  //data to be plotted

    //finally we append to the g.city_name each new created g
    final_node=node.enter().append("g")
     .attr("class", function(d) { return d.children ? "node" : "leaf node"; })
     .attr("class", function(d) { 
     if (d.institution_code) return "institution_root"
      else
      {
        return d.children ? "node" : "leaf node";
      }
     })
      .attr('fill',function (d){  return fill(d.name);  })
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
      .append("circle").attr('class','data_circle')
      .attr("r", function(d) {       
       return d.r; 
      });

   node.filter(function(d) { return d.children; }).append("text")      
      .attr('class','parent_text')
      .attr('z-index','80')
      .attr("text-anchor", "middle")
      .attr('y',function (d) {return -(d.r-textScale(this_node.num_datasets)) })
      .attr("dy", ".9em").attr("fill","black")
      .attr('font',textScale(d.num_datasets)+'px Arial, Helvetica, sans-serif')
      .text(function(d) { return d.name });
  
    node.filter(function(d) { return !d.children; }).append("text")
      .attr('class','children_text')
      .attr("text-anchor", "middle")
      .attr("dy", ".4em").attr("fill","black")
      .text(function(d) { return d.name.substring(0, d.r / 3) });
      $('g.'+d.city).hide()
     //$('g .'+d.city).fadeOut() 
});

      //circles pointing exclusively to each city
      svg_c = d3.select("#map").select("svg")
      g_circle = svg_c.append("g").attr("class", "circles")

 
       var circle = g_circle.selectAll("circle")
          .data(json.children);       

       var circle_rScale = d3.scale.linear()
                         .domain([1, total_datasets])
                         .range([10, 70]);

      circle.enter().append("circle")

    circle.attr('r',function (d) 
        {
          return circle_rScale(d.num_datasets)
        }).attr('fill','red')
      .attr('city',function (d) { return d.city})
      .attr("cx",function(d) { 
        latlng=new L.LatLng(d.geometry[1],d.geometry[0])
        return map.latLngToLayerPoint(latlng).x
      })
      circle.attr("cy",function(d) { 
        latlng=new L.LatLng(d.geometry[1],d.geometry[0])
        return map.latLngToLayerPoint(latlng).y
      })

    circle.on('mouseover',function()
    {     
      var this_city=d3.select(this).attr('city')     
     $('g.'+this_city).show()
     d3.select(this).attr('opacity',0)
     if ($('#test_geo').not(':visible'))
     {
      $('#test_geo').show();
     }

    })

$('#test_geo').click(function ()
{

  if ($('g.pack').not('visible'))
  json.children.forEach(function(d,i) {
  var this_node=json.children[i] 
 // all g radius scaled depending on number datasets containing
  var gScale = d3.scale.linear()
                     .domain([0, json.total_geo_occurrences])
                     .range([10, 450]);
 
  //  var width=gScale(d.city_occurrences);
  // var height=gScale(d.city_occurrences);

     var gScale2 = d3.scale.linear()
                     .domain([0, this_node.georef_count])
                     .range([4, 350]);
                      

  var width=gScale(d.georef_count);
  var height=gScale(d.georef_count);

   pack = d3.layout.pack()
   .size([width - 4, height - 4])  

    pack.value(function(d2) {   
    var count_datasets=this_node.num_datasets

     var gScale = d3.scale.linear()
                     .domain([0, this_node.georef_count])
                     .range([4, 350]);
      
      return gScale(d2.georef_count); 
    }); 

   var g= d3.select("g."+this_node.city);

   var nodes = g.data(pack.nodes(json.children[i]))  //data to be plotted
     
   nodes.selectAll("g")
   .transition()
   .duration(4500)
   .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
  .attr("r", function(d) { return d.r });
  
 var circles=d3.selectAll("circle")
   .transition()
   .duration(4500)
   .attr("r", function(d) { return d.r });

})

})  
   



// })
     $('svg circle,text.children_text').tipsy({ 
                              delayIn: 500, 
                              fade: true, 
                              gravity: 's', 
                              html: true, 
                             //trigger: 'hover',
                              title: function() {
                                var d = this.__data__; console.warn(d)                            
                                var text='';
                               if (d.depth=1)
                               if (d.institution_code)
                               {
                           
                                 text+='Institution ';
                                 if (d.full_name)
                                 text+=d.full_name  
                               text+='<br>'+d.institution_occurrences+' occurrences';
                                 text+='<p><a target="blank" href="'+d.metadata_url+'">Visualizer metadata</a>';
                                 text+='<br><a target="blank" href="'+d.institution_url+'">Site url</a>';
                                 text+='<br><a target="blank" href="http://www.gbif.fr:8080/gbiffrance-portal-demo/datapublishers/show?id='+d.institution_code+'">Explore sur GBIF France portal</a>';
                               }
                                 
                              else
                                {

                                 text+='Dataset ';
                                  if (d.full_name)
                                 text+=d.full_name 
                                 if (d.id)
                                    text+='<br><a target="blank" href="http://www.gbif.fr:8080/gbiffrance-portal-demo/datasets/show?id='+d.id+'">Explore sur GBIF France portal</a>';
                                  text+='<br>'+d.count+' occurrences';
                                  text+='<br>'+d.georef_count+' Georeferenced occurrences';

                                    text+='<br><div dataset_id="'+d.dataset_id+'" id="explore_graphic">Explore data in graphic</div>';


                                  
                                }
                                
                                return text
                                  
                      
                              }
          })




     $('g.datasets').live('mouseleave',function(event,target)
      {
        $target_class=$(event.target).attr('class')
        $target_id=$(event.target).attr('id')
        // console.info($(event.target))
        // console.warn($target_class)
        if ($target_class!=='tipsy_inner' && $target_id!=='tipsy' && $target_class!=='children_text')
        {
      //  console.warn('out')
     $('g.pack').hide() 
        }
       
      })
   

  //*** Dataset Auto-completion ***/  
  $("#input-search-dataset").autocomplete().each(function() {
    var $input = $(this);
    //Set-up the autocomplete widget.
    $(this).autocomplete({
      minLength: 3,
      source : function(req, resp) {
        $.getJSON("datasets/autocomplete?search=" + req.term, function(data) {
          var suggestions = [];
          $.each(data, function(i, val) {
            var obj = {};
            obj.label = val.title;
            obj.id = val.id;
            suggestions.push(obj);
          })
          resp(suggestions);
        })
      }  
    })
  });
  
  //** Taxa Auto-completion ** 
  $("#input-search-taxa").autocomplete().each(function() {
    var $input = $(this);
    //Set-up the autocomplete widget.
    $(this).autocomplete({
      minLength: 4,
      source : function(req, resp) {
        $.getJSON("taxas/autocomplete?search=" + req.term, function(data) {
          var suggestions = [];
          $.each(data, function(i, val) {
            var obj = {};
            obj.label = val.canonicalName;
            obj.id = val.id;
            suggestions.push(obj);
          })
          resp(suggestions);
        })
      }  
    })
  })



             

});
</script>
<div class="container">

<a id='test_geo' href='#' style='display:none' >Show datasets by count georeferenced occurrences (test)</a>
<div id="map" class="container" style='width:950px;height:600px'>

</div>


</div> 
<script type="text/javascript">

 
</script>
<!--
<div class="container">
  <iframe width="940" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=46.905246,0.74707&amp;spn=9.939566,23.269043&amp;t=m&amp;z=6&amp;output=embed"></iframe>
</div> -->