<!DOCTYPE html>
<html>
    <head>
      <title>#{get 'title' /}</title>
      <meta charset="${_response_encoding}">
      <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.css'}">
      <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

      <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/leaflet.css'}"> 
      <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/site-style.css'}">       
      <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/leaflet.draw.css'}">
       <script src="@{'/public/javascripts/mapping/leaflet-src.js'}"></script>


       <script src="@{'/public/javascripts/mapping/leaflet.draw.js'}"></script>
       <script src="@{'/public/javascripts/mapping/wax.leaf.min.js'}"></script>

      
      <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
      <script src="@{'/public/javascripts/jquery-1.7.1.js'}" type="text/javascript" charset="${_response_encoding}"></script>
      <script src="@{'/public/bootstrap/js/bootstrap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
      <script src="@{'/public/javascripts/jquery-ui-1.8.21.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
      #{get 'moreScripts' /}
    </head>
    <body>
    <div id="feedback-button"><a href="https://github.com/michaelakbaraly/gbiffrance-portal/issues" ></a></div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      	<div class="container">
          <a class="brand" href="http://www.gbif.fr" accesskey="1">
			GBIF France
		  </a>
		  <div id="navbar-menu">
		    <ul id="menu-header" class="nav"><li id="menu-item-1480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1480"><a href="http://www.gbif.fr:8080/portal" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','']);">Portail</a></li>
			  <li id="menu-item-326" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-326"><a href="http://www.gbif.fr/?page_id=324" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.gbif.fr']);">GBIF</a></li>
			  <li id="menu-item-149" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-149"><a href="http://www.gbif.fr/?category_name=actualites" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.gbif.fr']);">Actualités</a></li>
			  <li id="menu-item-515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-515"><a href="http://www.gbif.fr/?page_id=121" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.gbif.fr']);">Participer</a></li>
			  <li id="menu-item-608" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-608"><a href="http://www.gbif.fr/?page_id=225" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.gbif.fr']);">Documentation</a></li>
			  <li id="menu-item-1483" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1483"><a href="http://www.gbif.fr/metadata/index.php/metadata" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://www.gbif.fr']);">Métadonnées</a></li>
			</ul>
			<div style="float:right;"><img height="70" width="70" style="margin:10px;" src="http://www.gbif.fr/wp-content/themes/gbif/img/paint-simple-gbif-logo-120px.png"></div>
			</div>
			<div id="sub-menu" style="float:left;"></div>
		  </div>
  	  </div>
  	</div>  
  <div class="content">
      #{doLayout /}
    </div>
    <footer class="footer">
        <div class="container">
          <p class="pull-right">
            <a href="#">Back to top</a>
          </p>  
          <p>
            <a href="http://www.gbif.fr">About GBIF France </a>
             | 
            <a href="mailto:gbif@gbif.fr">Contact</a>
          </p>
        </div>
      </footer>
    </body>       
</html>
